* {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(214, 209, 200);
  min-height: 150px;
  border-bottom: 1px solid black;
}

main {
  background-image: url("img/bodybackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 1000px;
padding-top: 20px;
}

.maintitle {
  text-align: center;
  padding: 20px;
  background-color: rgba(221, 220, 218, 0.925);
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

p {
  padding: 2vh;
}

.headline {
  text-align: left;
  position: absolute;
  top: 150px;
}

.mainlogo {
  max-width: 200px;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 5%;
}

.bag {
  max-width: 20px;
}

.slogan {
  max-width: 500px;
  max-height: 300px;
  position: absolute;
  top: 60px;
  left: 35%;
}
.abouttext {
  padding: 20px;
  background-color: rgba(17, 146, 75, 0.925);
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

.abouttext > p {
  text-align: left;
}

.card img {
  max-height: 300px;
}
/* product page */

.product-text{
  position: aboslute;
  text-align: center;
  background-color: rgb(119, 119, 108);
  padding: 50px;
  margin: 0px 100px 0px 100px;
  border-radius: 50px;

  border: solid 3px black;
  color: white;
  z-index: -1;
}
.productpage-container{
  display: flex;
  background-color: rgb(224, 224, 183);
  height: 500px;
  width: 80%;
  margin: 50px auto;

  border: solid 3px black;
  border-radius: 20px;
  z-index: auto;
}

.product img{
  max-width: 220px;
  margin-left: 50px;
  z-index: auto;
}

/* Login page */
body  
{  
    margin: 0;  
    padding: 0;   
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: rgb(214, 209, 200);  
        border: solid 2px black ;  
        border-radius: 15px;
          
}  
h2{  
    text-align: center;  
    color: black;  
    padding: 20px;  
}  
label{  
    color: black;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: black;  
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  


/* Hamburger */
.menu-wrap {
  position: fixed;
  top: 0;
  right: 50px;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: rgb(214, 209, 200);
  border-radius: 50%;
  width: 200vw;
  height: 300vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
  z-index:auto;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: black;
  text-decoration: none;
  transition: color 0.4s ease;
}

.active {
  background-color: rgb(175, 171, 163);
}
.products-section {
  /* background-color: #dfe6e9; */
  padding: 3.1em;
  margin: -1px;
}


.products-section .card {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 10px 5px #888a78;
  text-align: center;
  font-family: helvetica;
}

.card .title {
  font-size: 1.6em;
  font-weight: bold;
}

.card img {
  max-width: 100%;
  border-radius: 5px;
}

.card .text {
  text-align: left;
  margin: 1.2em;
  font-size: 1em;
  padding-bottom: 10px;
}

.buy-button {
  background-color: rgb(182, 141, 87);
  border: none;
  padding: 1em;
  border-radius: 5px;
  font-weight: bold;
  width: 80%;
  position: inherit;
  z-index: 0;
}
.buy-button:hover {
  box-shadow: inset 300px 0 0 0 #d8dee0;
  color: rgb(0, 0, 0);
  transition: 0.5s ease-in-out;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 19rem);
  grid-gap: 20px;
  justify-content: center;
}

li a {
  display: block;
  padding: 7px;
  text-decoration: none;
  color: black;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(2, 2, 2);
  color: white;
  text-align: center;
}
  /* About page form */
  .container{
    margin-left: 7%;
  }
  .contactform {
    width: 300px;
  }

  input{
    width: 100%;
  }

  textarea{
    resize: vertical;
    max-height: 100px;
  }

  input, textarea{
    outline: none;
  }

  input:focus, textarea:focus{
    box-shadow: 0 0 4px rgba(255, 0, blue0, 0.5);
    border: 1px solid rgb(255, 0, 0, );
  }

  /* Cart items */
.cart-page{
  margin: 80px auto;
  width: 80%;
  position: aboslute;
  max-width: 800px;
  background-color: rgb(245, 231, 205);
  
}
table{
  width: 100%;
  border-collapse: collapse;
  z-index:-1;
}

.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}

td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: #ff523b;
  font-size: 12px;
}

td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price{
  display: flexbox;
  flex-direction: column;

}

.total-price table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 350px;
}

td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}



@media only screen and (max-width: 771px) {
  .mainlogo {
    max-width: 150px;
    align-items: center;
    position: absolute;
    top: 21px;
    left: 35px;
  }
  .slogan {
    max-width: 200px;
    max-height: 300px;
    position: absolute;
    top: 100px;
    left: 10px;
  }

  .navbar {
    display: none;
  }

.cart-info p{
  display: none;
}